.shades-enter-active {
    animation: showIn 5s linear forwards;
  }
.shades-leave-active{
    animation: showOut .3s linear forwards;
}

/* 进入 */
@keyframes showIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* 遮罩 */
.modeshade-enter{
    opacity: 0;
}
.modeshade-enter-active{
    transition: all .5s linear;
}
.modeshade-enter-to{
    opacity: 1;
}

.modeshade-leave{
    opacity: 1;
}
.modeshade-leave-active{
    transition: all .5s linear;
}
.modeshade-leave-to{
    opacity: 0;
}

/* model 下落 */ 
.tras-enter{
    opacity: 0;
    transform: translateY(-30px)
}
.tras-enter-active{
    transition: all .5s linear;
}
.tras-enter-to{
    opacity: 1;
    transform: translateY(0);
}

.tras-leave{
    transform: translateY(0);
    opacity: 1;
}
.tras-leave-active{
    transition: all .5s linear;
}
.tras-leave-to{
    transform: translateY(-30px);
    opacity: 0;
}